<div id="landing" class="row-fluid">
  <div id="cover_content" class="login-box">
    <div id="login" class="span5">
      <h1>Login</h1>
      <%= render :partial => "/sessions/login" %>
    </div>
    <div id="about" class="span7">
      <%= render :partial => "/layouts/about" %>
    </div>

  </div>
</div>
