<div id="landing" class="row-fluid">
  <div id="cover_content" class="login-box">
    <div id="login" class="span5">
      <h1>Login or <%= link_to "Sign Up", signup_path %></h1>
      <%= render :partial => "/sessions/login" %>
    </div>
    <div id="about" class="span7">
      <%= render :partial => "/layouts/about" %>
    </div>

  </div>
</div>

<!--       <div class="button-login btn btn-primary">
        <i class="icon-off icon-white"></i>
        <%#= submit_tag "Login", :class => "btn btn-primary", :id => "login_button" %>
      </div> -->