<div bigboard_container>
  <div class="issue quick-button bigpicture">
    
    <div>
      <%= image_tag(issue.user.profile_url, :class => "profile_image") if issue.user.profile_url.present? %>
    </div>
    
    <div class="credits">
      <p>
        <h1><%= link_to issue.user.name, issue.user %></h1> <br>Submitted <%= time_ago_in_words(issue.created_at) %> ago
      </p>
    </div>
  </div>
</div>