<a href="/issues/<%=issue.id%>">
  <div class="issue quick-button bigpicture">
    
    <%= image_tag(issue.user.image.url, :class => "profile_image") if issue.user.image.url.present? %>
    
    <div class="bigname">
      <h2><%= issue.user.name %></h2>
      <p>Submitted <%= time_ago_in_words(issue.created_at) %> ago</p>
    </div>

  </div>
</a>