<div class="issue quick-button">
  
  <div>
    <%= image_tag(issue.user.profile_url, :class => "profile_image") %>
  </div>

  <div class="circles queue_position notification">
    <%= issues.index(issue) + 1 %>
  </div>
  
  <div class="circles votes notification">
    +4
  </div>
  
  <div class="credits">
    <p>
      <h1><%= link_to issue.user.name, issue.user %></h1> <br>Submitted <%= time_ago_in_words(issue.created_at) %> ago
    </p>
  </div>
</div>

