<%= content_for :js do %>
<script>Refresh.init("big_board")</script>
<% end %>

<div class="span9">
  <%= render 'issues/bigboard_queue' %>
</div>

<div class="span3">
  <h2>Currently Assigned</h2>
  <ul>
    <%  %>
    <li></li>
  </ul>
</div>