  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, Issue.status.collect { |k, v| [v, k] } %>
  </div>
  <%# unless issue.assignee.nil? %>
    <div class="field">
      <%= f.label :assignee_id %><br />
      <%= f.select :assignee_id, User.all.collect { |u| [u.name, u.id] }, {:prompt => true} %>
    </div>
  <%# end %>