// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#landing_page {
  background: url('handraise.jpg') no-repeat center center fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  margin-top: -2em;
}

#about {
  position: relative;
  float: right;
  margin-top: 2em;
  padding-right: 2em;

  h1 {
    font-size: 5em;
    font-family: monaco;
    line-height: 1em;
    padding-left: 0em;
  }

  h3 {
    line-height: 1.5em;
    padding-left: 0em;
  }

}

#built {
  p {
    text-align: center;
  }
}

#landing {
  height: 70em;
  text-align: center;
  /*width: image-width(url('handraise.jpg'));*/
}

#login {
  padding: 2em 2em;
  z-index: 1000;
  border-right: dotted 1px #dddddd;
}

.input-large {
  background-color: white !important;
  z-index: 1000;
}

.login-section {
  text-align: left;
}

.login-box {
  background: rgba(255, 255, 255, 0.75) !important;
  width: 60% !important;
  .input-prepend {
    text-align: left !important;
    background: rgba(255, 255, 255, 0) !important;
    padding-top: 10px !important;
  }

  label {
    padding-top: 2em;
    font-weight: bold;
  }

  p {
    margin-left: 0px !important;
  }

  hr {
    border-top: 0px;
    border-bottom: dashed 1px #bbb;
  }

}

#catPhoto {
  height: 30em;
}

.button-login {
  margin-right: 0 !important;
}

.black_font {
  color: #000 !important;
}


@media (max-width: 479px) {
  #landing {
    height: 76em;
  }

  .login-box {
    width: 80% !important;
  }

  #about {
    padding-left: 2em;
  }

  #about h1 {
    font-size: 2.5em;
  }

  #about h2 {
    font-size: 1.05em;
  }
}