<h2>Put your hands up for...</h2>
<h1>HandRaise</h1>
<p>We are a tool to improve the classroom experience. Students with questions can post their questions online and teachers have a clear process of addressing important questions.</p>
<br>
<p>Have a question? Want to share some feedback? Feel free to shoot us an e-mail.</p>
<hr>

<div id="built">
<p>Built <a href="http://www.flatironschool.com" target="_blank">@flatironschool</a></p>
<p><a href="http://janeeats.github.io" target="_blank">Jane</a> | <a href="http://www.anthonywijnen.com" target="_blank">Anthony</a> | <a href="http://ei-lene.github.io" target="_blank">Eilene</a> | <a href="http://eewang.github.io" target="_blank">Eugene</a></p>
</div>

