<%= render 'layouts/header' %>

  <div class="container-fluid" id="landing_page">

  <div class="row-fluid">

  <div class="span12">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>

<%= render 'layouts/footer' %>